<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TLG Command</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
{% include  "header.html" %}
<h1>Данный сервис это упрощенная версия инструмента MaxiParser</h1>
<h2>Разработанная kozenko_dev.</h2>
<h1>Мой телеграмм - https://t.me/LarryBrackdown </h1>
</body>
</html>